.root{ -fx-background-color: #d4cbc3; }

Button { -fx-background-color: #8c8680;
         -fx-border-color: #FFFFFF;
         -fx-border-width: 2;
         -fx-text-fill: white;
         -fx-font-family: "Helvetica";
         
         -fx-font-size: 16px;
         -fx-background-radius: 10 10 10 10;
         -fx-border-radius: 10 10 10 10;
}

Button:hover { -fx-background-color: #333333;
               -fx-font-size: 16px;
               -fx-text-fill: white;
}

Button:pressed { -fx-background-color: #c2c2be;
	-fx-text-fill: #000000;
	-fx-font-weight: bold;
}

Label {
        -fx-background-color: #6e6e69;
         -fx-border-color: #000000;
         -fx-border-width: 1.5;
         -fx-text-fill: #d6d6d0;
         -fx-font-family: "Helvetica";
        
         -fx-font-size: 15px;
         -fx-background-radius: 10 10 10 10;
         -fx-border-radius: 10 10 10 10;
}
TextField{
    -fx-background-color: #ffffff;
         -fx-border-color: #853203;
         -fx-border-width: 1.5;
         -fx-text-fill: #000000;
         -fx-font-family: "Helvetica";
         
         -fx-font-size: 15px;
         -fx-background-radius: 5 5 5 5;
         -fx-border-radius: 5 5 5 5;
}
PasswordField{
    -fx-background-color: #ffffff;
         -fx-border-color: #853203;
         -fx-border-width: 1.5;
         -fx-text-fill: #000000;
         -fx-font-family: "Helvetica";
         
         -fx-font-size: 15px;
         -fx-background-radius: 5 5 5 5;
         -fx-border-radius: 5 5 5 5;
}
DatePicker{
    -fx-background-color: #ffffff;
         -fx-border-color: #853203;
         -fx-border-width: 1.5;
         -fx-text-fill: #000000;
         -fx-font-family: "Helvetica";
         
         -fx-font-size: 15px;
         -fx-background-radius: 5 5 5 5;
         -fx-border-radius: 5 5 5 5;
         
}
TextArea{
    -fx-background-color: #ffffff;
         -fx-border-color: #853203;
         -fx-border-width: 1.5;
         -fx-text-fill: #000000;
         -fx-font-family: "Helvetica";
         
         -fx-font-size: 14px;
         -fx-background-radius: 5 5 5 5;
         -fx-border-radius: 5 5 5 5;
}

#titulo { 
    -fx-background-color: #6e6e69;
         -fx-border-color: #000000;
         -fx-border-width: 1.5;
         -fx-text-fill: #d6d6d0;
         -fx-font-family: "Helvetica";
         
         -fx-font-size: 25px;
         -fx-background-radius: 10 10 10 10;
         -fx-border-radius: 10 10 10 10;
}